<br>
<div class="container pt-3 h-100" style="background-color: white">
  <span class="field-content">
    <h1 class="text-center fw-light py-3">FUNDING NORMS</h1>
  </span>
  <div class="container body-container">
    <tr>
      <td width="100%">
        <p
          style="
            margin: 12px 9px;
            text-indent: -0.25in;
            line-height: 150%;
            text-align: justify;
          "
        >
          <span style="color: navy; font-family: Arial"
            ><font size="3">&nbsp; </font></span
          >
          <span style="font-family: Arial; color: #000080"></span
          ><font size="4" color="#000080"
            ><span style="font-family: Arial">
              The Government will provide funding assistance on the following
              basis:
            </span> </font
          ><font size="3"
            ><span style="color: navy; font-family: Arial"> </span>
            <p
              style="
                margin: 12px 9px;
                text-indent: -0.25in;
                line-height: 150%;
                text-align: justify;
              "
            >
              <font color="#000080">
                <font size="2"
                  ><span style="font-family: Wingdings">§</span></font
                ><span
                  style="
                    font-weight: normal;
                    font-style: normal;
                    font-family: Times New Roman;
                    font-variant: normal;
                  "
                  ><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;</font></span
                ><span style="font-family: Arial"
                  ><font size="2"
                    >Funding will be provide as salary for the trainers/teachers
                    who will be training the women registered in STEP.
                  </font></span
                ><font size="2"> </font
              ></font>
            </p>
            <p
              style="
                margin: 12px 9px;
                text-indent: -0.25in;
                line-height: 150%;
                text-align: justify;
              "
            >
              <font color="#000080">
                <font size="2"
                  ><span style="font-family: Wingdings">§</span></font
                ><span
                  style="
                    font-weight: normal;
                    font-style: normal;
                    font-family: Times New Roman;
                    font-variant: normal;
                  "
                  ><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;</font></span
                ><span style="font-family: Arial"
                  ><font size="2"
                    >Rental for classrooms/training spaces will be given by the
                    government on proper submission of monthly rental bills.
                  </font></span
                ><font size="2"> </font
              ></font>
            </p>
            <p
              style="
                margin: 12px 9px;
                text-indent: -0.25in;
                line-height: 150%;
                text-align: justify;
              "
            >
              <font color="#000080">
                <font size="2"
                  ><span style="font-family: Wingdings">§</span></font
                ><span
                  style="
                    font-weight: normal;
                    font-style: normal;
                    font-family: Times New Roman;
                    font-variant: normal;
                  "
                  ><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;</font></span
                ><span style="font-family: Arial"
                  ><font size="2"
                    >In case of buying equipments/machines for the purpose of
                    training, o submission of quotation, reimburstment may be
                    provided.
                  </font></span
                ><font size="2"> </font
              ></font>
            </p>
            <p
              style="
                margin: 12px 9px;
                text-indent: -0.25in;
                line-height: 150%;
                text-align: justify;
              "
            >
              <font color="#000080">
                <font size="2"
                  ><span style="font-family: Wingdings">§</span></font
                ><span
                  style="
                    font-weight: normal;
                    font-style: normal;
                    font-family: Times New Roman;
                    font-variant: normal;
                  "
                  ><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;</font></span
                ><span style="font-family: Arial"
                  ><font size="2"
                    >On registration, we NGO accepts the norms that any further
                    expenditure will be taken care by the NGO.
                  </font></span
                ><font size="2"> </font
              ></font>
            </p>
            <p
              style="
                margin: 12px 9px;
                text-indent: -0.25in;
                line-height: 150%;
                text-align: justify;
              "
            >
              <font color="#000080">
                <font size="2"
                  ><span style="font-family: Wingdings">§</span></font
                ><span
                  style="
                    font-weight: normal;
                    font-style: normal;
                    font-family: Times New Roman;
                    font-variant: normal;
                  "
                  ><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;</font></span
                ><span style="font-family: Arial"
                  ><font size="2"
                    >All the funding asssistance will be directly transferred to
                    the registered bank account of the Third party transaction
                    is strictly profibited.
                  </font></span
                ><font size="2"> </font
              ></font>
            </p>
            <p
              style="
                margin: 12px 9px;
                text-indent: -0.25in;
                line-height: 150%;
                text-align: justify;
              "
            >
              <font color="#000080">
                <font size="2"
                  ><span style="font-family: Wingdings">§</span></font
                ><span
                  style="
                    font-weight: normal;
                    font-style: normal;
                    font-family: Times New Roman;
                    font-variant: normal;
                  "
                  ><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;</font></span
                ><span style="font-family: Arial"
                  ><font size="2"
                    >Other incentive schemes like distribution of scholarships
                    and uniforms will continue to be funded under the State
                    Plan. They will not be funded under the SSA programme.</font
                  ></span
                ><font size="2"> </font>
                <span style="font-family: Arial"
                  ><font size="2"
                    >The major financial norms under SSA are</font
                  ></span
                ><font size="2">:</font
                ><span style="font-family: Arial"><font size="2"> </font></span
              ></font>
            </p>
            <p
              style="
                margin: 12px 9px;
                text-indent: -0.25in;
                line-height: 150%;
                text-align: justify;
              "
            >
              <font color="#008000">
                <font size="2"><span style="font-family: Arial"> </span></font>
                <span
                  class="my-3"
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                  >NORMS FOR INTERVENTIONS UNDER SSA &nbsp;</span
                ><font size="2">&nbsp;</font></font
              >
            </p>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#3366FF">
                <span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                >
                  INTERVENTION &nbsp;NORM &nbsp;</span
                ></font
              >
            </p>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                >
                  1.Teacher</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >One teacher for every 40 children in Primary and upper
                      primary</span
                    ><font size="2"> </font>
                  </font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >At least two teachers in a Primary school</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span
                      style="
                        font-weight: normal;
                        font-style: normal;
                        font-family: Times New Roman;
                        font-variant: normal;
                      "
                    >
                      <font size="2">&nbsp;&nbsp;</font></span
                    ><span style="font-size: 10pt; font-family: Arial"
                      >One teacher for every class in the upper primary</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                >
                  2.School / Alternative schooling facility</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <span style="font-size: 10pt; font-family: Symbol"
                    >&nbsp;</span
                  ><font color="#000080"
                    ><span style="font-size: 10pt; font-family: Arial"
                      >Within&nbsp; one Kilometre of every habitation</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Provision for opening of new schools as per State norms
                      or for setting up EGS like schools in unserved
                      habitations.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                >
                  3.Upper Primary schools/ Sector</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >As per requirement based on the number of children
                      completing primary education, up to a ceiling of one upper
                      primary school/section for every two primary schools</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                >
                  4.Classrooms</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <font size="2"
                      ><span style="font-family: Arial">A</span></font
                    ><span style="font-size: 10pt; font-family: Arial">
                      room for every teacher in Primary &amp; upper Primary,
                      with the provision that there would be two class rooms
                      with verandah to every Primary school with at least two
                      teachers.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >A room for Head-Master in upper Primary
                      school/section</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span style="font-size: 10pt">&nbsp;</span
                ><span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                  >5.Free textbooks</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >To all girls/SC/ST children at primary &amp; upper
                      primary level within an upper ceiling of Rs. 150/- per
                      child</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >State to continue to fund free textbooks being currently
                      provided from the State Plans.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span style="font-size: 10pt">&nbsp;</span
                ><span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                  >6.Civil works</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Ceiling of 33% of SSA programme funds.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >For improvement of school facilities, BRC/CRC
                      construction.</span
                    ><font size="2"> </font>
                  </font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >CRCs could also be used as an additional room.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >No expenditure to be incurred on construction of office
                      buildings</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Districts to prepare infrastructure Plans.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span style="font-size: 10pt">&nbsp;</span
                ><span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                  >7.Maintenance and repair&nbsp; of school buildings</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Only through school management committees/VECs</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Upto Rs. 5000 per year as per specific proposal by the
                      school committee.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Must involve elements of community contribution</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span style="font-size: 10pt">&nbsp;</span
                ><span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                  >8.&nbsp;Upgradation&nbsp; of&nbsp; EGS to regular school /
                  setting up of new Primary school as per State&nbsp; norm</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Provision for TLE @ Rs 10,000/- per school</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >TLE as per local context and need</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Involvement of teachers and parents necessary in TLE
                      selection and procurement</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >VEC/ school-village level appropriate body to decide on
                      best mode of procurement</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Requirement of successful running of EGS centre for two
                      years before it is considered for upgradation.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >Provision for teacher &amp; classrooms.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
            <p class="MsoNormal" style="margin: 12px 9px">
              <font color="#008000">
                <span style="font-size: 10pt">&nbsp;</span
                ><span
                  style="font-weight: 700; font-size: 10pt; font-family: Arial"
                  >9.TLE for upper-primary</span
                ></font
              >
            </p>
            <ul>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >@ Rs 50,000 per school for uncovered schools.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >As per local specific requirement to be determined by the
                      teachers/ school committee</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >School committee to decide on best mode of procurement,
                      in consultation with teachers</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
              <li>
                <p
                  style="
                    margin: 12px 9px;
                    text-indent: 0.01in;
                    text-align: justify;
                  "
                >
                  <font color="#000080">
                    <span style="font-size: 10pt; font-family: Arial"
                      >School Committee may recommend district level procurement
                      if there are advantages of scale.</span
                    ><font size="2"> </font
                  ></font>
                </p>
              </li>
            </ul>
          </font>
        </p>
      </td>
    </tr>
  </div>
</div>
