<div class="container pt-3 h-100"><br>
<section class="faq-section">
  <div class="container">
    <div class="row">
      <!-- ***** FAQ Start ***** -->
      <div class="col-md-6 offset-md-3">
        <div class="faq-title text-center ">
          <h2 class="fw-light fs-1">FAQ</h2>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="faq" id="accordion">
          <div class="card">
            <div class="card-header" id="faqHeading-1">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-bs-toggle="collapse"
                  data-bs-target="#faqCollapse-1"
                  data-aria-expanded="true"
                  data-aria-controls="faqCollapse-1"
                >
                  <span class="badge">1</span>Are these guidelines mandated by
                  the Government of India?
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-1"
              class="collapse"
              aria-labelledby="faqHeading-1"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Yes. The “Guidelines for Indian Government Websites” was
                  formally released in February, 2009 and has been included in
                  the Central Secretariat Manual of Office Procedures (CSMOP) by
                  Department of Administrative Reforms and Public Grievances,
                  Ministry of Personnel, Public Grievance and Pensions, Govt. of
                  India.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-2">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-bs-toggle="collapse"
                  data-bs-target="#faqCollapse-2"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-2"
                >
                  <span class="badge">2</span> Will website get any certificate
                  upon compliance with these guidelines?
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-2"
              class="collapse"
              aria-labelledby="faqHeading-2"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  These Guidelines have been framed with an objective to make
                  the Indian Government Websites conform to the essential
                  pre-requisites of UUU trilogy i.e. Usable, User-Centric and
                  Universally Accessible.
                </p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faqHeading-3">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-bs-toggle="collapse"
                  data-bs-target="#faqCollapse-3"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-3"
                >
                  <span class="badge">3</span>Why do we use it?
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-3"
              class="collapse"
              aria-labelledby="faqHeading-3"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-4">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-bs-toggle="collapse"
                  data-bs-target="#faqCollapse-4"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-4"
                >
                  <span class="badge">4</span>Are these guidelines technical
                  only?
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-4"
              class="collapse"
              aria-labelledby="faqHeading-4"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-5">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-bs-toggle="collapse"
                  data-bs-target="#faqCollapse-5"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-5"
                >
                  <span class="badge">5</span>Who will assess the compliance of
                  these guidelines?
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-5"
              class="collapse"
              aria-labelledby="faqHeading-5"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Departments may use the compliance matrix included in the
                  guidelines to self assess their websites for compliance.
                  Compliance matrix lists all the mandatory guidelines in the
                  form of a checklist. Departments may also submit their
                  websites to STQC (Standardisation Testing Quality
                  Certification) an organisation of Department of Information
                  Technology.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faqHeading-6">
              <div class="mb-0">
                <h5
                  class="faq-title"
                  data-bs-toggle="collapse"
                  data-bs-target="#faqCollapse-6"
                  data-aria-expanded="false"
                  data-aria-controls="faqCollapse-6"
                >
                  <span class="badge">6</span>What are the benefits of making a
                  website compliant to these guidelines?
                </h5>
              </div>
            </div>
            <div
              id="faqCollapse-6"
              class="collapse"
              aria-labelledby="faqHeading-6"
              data-parent="#accordion"
            >
              <div class="card-body">
                <p>
                  Improve the overall usability quotient and technical
                  competence of the Indian Government websites vis-à-vis
                  International Standards. Facilitate Indian Government websites
                  in achieving citizen-centricity while providing anytime
                  anywhere delivery of government information and services.
                  Formulate policies for sustenance and effective maintenance of
                  the Indian Government websites through their life cycle.
                </p>
              </div>
              
            </div>
            
          </div>
          
        </div>
        <br><br>
      </div>
    </div>
  </div>
</section>
</div>