<div class="panel panel-primary">
  <br><h4 style="text-align:center ;"> Registration Confirmation Message</h4>
  <br><h4 style="text-align:center ;"> Registration ID : {{id}}</h4><br>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">

        <thead class="thead-darks">
          <tr>
            <th style="width: 50%;text-align: center;">Course Name</th>
            <th style="width: 50%;text-align: center;">Course Sector</th>
          </tr>
        </thead>

        <tbody class="tbody-darks">
          <tr>
            <td style="width: 50%;text-align: center;">{{courseName}}</td>
            <td style="width: 50%;text-align: center;">{{courseSector}}</td>
          </tr>
        </tbody>
      
      </table>
    </div>
</div>
<p style="text-align:right;margin-right: 20px;"><a routerLink="/step-status">status</a></p>