<br>

<div style="color: green;">
  <marquee><h4>Welcome {{user.fname}}  {{user.lname}}</h4></marquee>
</div>

<section class="container pt-3 h-100" style="background-color: white">
  <div class="header d-flex flex-column align-items-center bg">
   
    <div class="d-flex">
      <div
        class="gallery-container d-flex align-items-center justify-content-center"
        id="gallery-container"
      >
        <a data-lg-size="1400-1400" class="gallery-item align-items">
          <img class="img-fluid" src="/assets/ngo-home.png" />
        </a>
      </div>
      <p class="lead py-3 mt-2 mb-4 text-justify">
        NGO as a association includes groups and institutions with primary
        humanitarian and co-operative objectives rather than commercial
        objectives completely or widely independent from Government. NGOs are
        private agencies that can support development at local, national and
        international level by organising indigenous groups. NGOs as citizen
        groups raise awareness and influence policies and include independent
        cooperatives, community associations, societies, groups and various
        other associations.
      </p>
    </div>
    <div class="a">
      <h4 class="my-3 display-8 mt-1 mb-2 fw-normal text-center">
        Role of Social Activists and NGOs in Development Process of Society
      </h4>
      <div class="text-center lead-1 py-2 mt-2 mb-2 text-justify">
        The Development as permanent change is possible with changes in the
        socio-economic condition of society, that is largely the responsibility
        of Government but at the part of non-governmental effort, the civilians
        and citizens can act as makers of social change. Changes at a small
        level are possible through positive change by participating in decision
        making process through welfare programmes and activities. The social
        activists, social groups as NGO can play a vital role to push the
        development process partially and practically at their part. They can
        work to implement result oriented stable socio-economic change making
        initiatives at an ideological level, and also affect the policy making
        and implementation processes. Though the development of society is a
        part of the regular development process of civilizations but to keep the
        process going on to achieve the more better targets regularly without
        any conflicts and domination in society the social activist civilians
        and group of the change makers as NGO have to regularly play the vital
        role in the completion of the process. The change makers who think to
        establish a well developed society are leaders and the like minded
        people who think and want to do same can be the part of their team, they
        can mobilize and organise altogether as social positive change maker and
        move ahead.
      </div>
    </div>
    <div class="a">
      <h4 class="my-3 display-8 mt-1 mb-2 fw-normal text-center">
        Authentic resource material, information and database
      </h4>
      <div class="lead-1 py-2 mt-2 mb-2 text-justify">
        NGOs India is an online resource center for required resource materials,
        information and all kinds of concerned knowledge-based documents for
        NGOs. NGOs India provides the resource material where NGOs can find
        various options and opportunities to get useful and authentic
        information to achieve their aims and targets. Along with the resource
        material, NGOs India provides direct support and help for NGO
        Registration, NGO Management, to find and get Funding and financial
        Projects with the help of Consultants.
        <br />
        NGOs India guides and supports to get funds for all kinds of Social
        development issues to the NGOs practically and transparently working and
        following
        <a
          href="https://ngosindia.com/credibility-parameters-of-ngo-recognition-and-accreditation/"
          target="_blank"
          rel="noopener"
          >Credibility Parameters</a
        >. On the online resource center, NGOs and their associates can find
        database and information about the funding schemes of Government
        Ministries, Government Departments, Public Sector Units, Indian Funding
        Agencies, Foreign Funding Agencies and Support Groups. The guidance and
        support is for certain NGOs and certain Social Activists are following
        Credibility Parameters and on certain
        <a
          href="https://ngosindia.com/credibility-parameters-to-recognise-social-workers-and-ngo-members/"
          target="_blank"
          rel="noopener"
          >Recognition Parameters</a
        >
        only.
      </div>
    </div>

    <div class="lead-1 text-center">
      <h4 class="my-3 display-8 mt-1 mb-2 fw-normal text-center">
        Networking among NGOs, activists to implement concepts and objects
      </h4>

      <p class="a">
        NGOs India has been promoting and making resource and information
        collaborations for two decades with the creative and constructive
        networking among NGOs to develop the effective partnership so they can
        work to implement their objects to develop and improve the
        socio-economic status of the society. The Networking is for accessing,
        sharing and contributing resources, issues, information and to associate
        with other like-minded NGOs which are working on similar issues or other
        issues to improve the social development and living with healthy
        conditions. The Networking is for strengthening of NGOs and social
        organisations from improving their knowledge, identification about their
        tasks and programmes by getting and sharing the experience with the NGO
        partners in their certain relevant sectors.
      </p>
    </div>
  </div>
</section>

