<br>
<section
  class="text-center about container py-5"
  style="background-color: white"
>
  <h1 class="fw-light fs-1">About US</h1>
  <div class="container d-flex">
    <div class="row d-flex justify-content-around">
      <div
        class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-group"></span>
        <h2 class="my-2">Vision</h2>
        <p>
          Empowered women living with dignity and contributing as equal partners
          in development in an environment free from violence and
          discrimination. And, wellnurtured children with full opportunities for
          growth and development in a safe and protective environment.
        </p>
      </div>
      <div
        class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-info"></span>
        <h2 lass="my-2">Introduction</h2>
        <p>
          The Department of Women and Child Development, Government of India,
          came into existence as a separate Ministry with effect from 30th
          January, 2006, earlier since 1985 it was a Department under the
          Ministry of Human Resources Development.
        </p>
      </div>
      <div class="clearfix visible-md-block visible-sm-block"></div>
      <div
        class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn"
        data-wow-offset="200"
      >
        <span class="fa fa-file"></span>
        <h2 lass="my-2">Policy Initiatives:</h2>
        <p>
          For the holistic development of the child, the Ministry has been
          implementing the world's largest and most unique and outreach
          programme of Integrated Child Development Services (ICDS) providing a
          package of services comprising supplementary nutrition, immunization,
          health check up and referral services, pre-school non-formal
          education. There is effective coordination and monitoring of various
          sectoral programmes.
        </p>
      </div>
    </div>
  </div>
</section>
