<div class="container pt-3 h-80">
<section class="container pt-3" style="background-color: white">
  <div style="width:1000px;margin-left: 1cm;">
    <h1 class="py-4 text-center fw-light fs-1">Guidelines</h1>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col " colspan="3">Title</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">THE INTEGRATED CHILD PROTECTION SCHEME (ICPS)</td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/revised%20ICPS%20scheme.pdf"
                target="_blank"
                role="link"
                >Download (1.16 MB)<img
                  src="assets\pdf.png"
                  width="16"
                  height="16"
                  alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">
            GUIDELINES FOR OPERATIONALIZING MAHILA POLICE VOLUNTEERS (MPVs)
            INITIATIVE.
          </td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/National%20Minimum%20Guidelines.pdf"
                target="_blank"
                role="link"
                >Download (2.91 MB)<img
                  src="assets\pdf.png"
                  width="16"
                  height="16"
                  alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">Badge Design for Gender Champions</td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/GUIDELINES%20FOR%20OPERATIONALIZING%20MPV%20uploaded%20on%20the%20website.pdf"
                target="_blank"
                role="link"
                >Download (520.6 KB)<img
                  src="assets\pdf.png"
                  width="16"
                  height="16"
                  alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">
            Swachh Bharat Kosh Operational Guidelines, 2014 and Submission of
            Proposals-reg.
          </td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/WCD_GC.pdf"
                target="_blank"
                role="link"
                >Download (340.69 KB)
                <img src="assets\pdf.png" width="16" height="16" alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">Adoption Guidelines 2015</td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/SBKdtd1862015_0.pdf"
                target="_blank"
                role="link"
                >Download (217.5 KB)
                <img src="assets\pdf.png" width="16" height="16" alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">Swadhar Greh Guidelines</td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/adoption%20guidelines2015_1.pdf"
                target="_blank"
                role="link"
                >Download (1.07 MB)
                <img src="assets\pdf.png" width="16" height="16" alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">Revised Guidelines for Gender Champions</td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/SBKdtd1862015_0.pdf"
                target="_blank"
                role="link"
                >Download (105.5 KB)
                <img src="assets\pdf.png" width="16" height="16" alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">
            Revised NMEW Scheme Guidelines - SRCW Guidelines REVISED
          </td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/GUIDELINES%20FOR%20OPERATIONALIZING%20MPV%20uploaded%20on%20the%20website.pdf"
                target="_blank"
                role="link"
                >Download (545.6 KB)<img
                  src="assets\pdf.png"
                  width="16"
                  height="16"
                  alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">Dowry Prohibition Rules.</td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/SBKdtd1862015_0.pdf"
                target="_blank"
                role="link"
                >Download (405.5 KB)
                <img src="assets\pdf.png" width="16" height="16" alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">
            Revised NMEW Scheme Guidelines - PSK guidelines 2015 - Partial.
          </td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/SBKdtd1862015_0.pdf"
                target="_blank"
                role="link"
                >Details
                <img src="assets\pdf.png" width="16" height="16" alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">
            Guidelines for construction of Anganwadi Centers under MGNREGS in
            convergence with ICDS Scheme
          </td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/SBKdtd1862015_0.pdf"
                target="_blank"
                role="link"
                >Download (115.5 KB)
                <img src="assets\pdf.png" width="16" height="16" alt="pdf" /></a
            ></span>
          </td>
        </tr>

        <tr>
          <th scope="row">&#9642;</th>
          <td colspan="3">
            National Guidelines on Infant and Young Child Feeding Edition :
            2006.
          </td>
          <td>
            <span
              ><a
                href="https://wcd.nic.in/sites/default/files/SBKdtd1862015_0.pdf"
                target="_blank"
                role="link"
                >Download (120 KB)
                <img src="assets\pdf.png" width="16" height="16" alt="pdf" /></a
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div><br>
</section>
</div>
