<br><br>
<div class="main container h-auto" style="background-color: white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="login-card">
          <h2 class="text-center mb-4">Sign In</h2>
          <form class="form-group" ngNativeValidate>
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          
          <div class="form-group">
            <label for="classification">Classification :</label>
            <select class="drop" id="classification" [(ngModel)]="classification" name="classification" required>
              <option value="">Choose...</option>
                <option *ngFor="let classification of Classification" [ngValue]="classification">{{classification}}</option>
             </select>
          </div>
          <br class="brmedium">
          <div class="form-group">
            <label for="email">User Name :</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter User Name"
              name="username" required>
          </div>
          <br class="brmedium">
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
              name="password" required>
          </div>

          <br class="brmedium">
          <button (click)=checkLogin() class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="login-card">
          <h2 class="text-center mb-4">Register</h2>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" formControlName="email" 
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
              placeholder="Enter your email address" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            </div>

            <label>First Name</label>
            <input type="text" formControlName="fname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" placeholder="Enter First Name" />
            <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                <div *ngIf="f.fname.errors.required">First Name is required</div>
                <div *ngIf="f.fname.errors.pattern">Inavalid First Name</div>
            </div>
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" placeholder="Enter Last Name" />
            <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                <div *ngIf="f.lname.errors.required">Last Name is required</div>
                <div *ngIf="f.lname.errors.pattern">Inavalid First Name</div>
            </div>
          </div>

          <div class="form-group">
            <label>Classification</label><br>
            <select class="drop" formControlName="classification" [ngClass]="{ 'is-invalid': submitted && f.classification.errors }">
                <option value="">Choose...</option>
                <option *ngFor="let classification of Classification" [ngValue]="classification">{{classification}}</option>
             </select>
            <div *ngIf="submitted && f.classification.errors" class="invalid-feedback">
                <div *ngIf="f.classification.errors.required">Classification is required</div>
            </div>
        </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter new Password" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters </div>
              </div>
          </div>

           <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm Password" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirmation is required</div>
                  <div *ngIf="f.confirmPassword.errors.minlength">Must be at least 6 characters</div>
                  <div *ngIf="mustMatch()">Password and Confirm Password must match</div>
              </div>
          </div>

          <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" placeholder="Select Date of Birth" />
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">DOB is required</div>
            </div>
        </div>

        <div class="form-group">
          <label>Phone No</label>
          <input type="text" formControlName="phoneNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }" placeholder="Enter your Phone Number" />
          <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
              <div *ngIf="f.phoneNo.errors.required">Phone Number is required</div>
          </div>
        </div>

        
        <div class="form-group">
          <label>Register</label>
          <input class="form-control bg-info" type="submit" /><br class="brmedium">
      </div>
          </form>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
