<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2"><br>
                <h3>Update NGO</h3>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>NGO Name</label>
                            <input [(ngModel)]="ngo.ngoName" type="text" formControlName="ngoName" class="form-control"/>
                        </div>
                      
  
                      <div class="form-group">
                        <label>NGO State</label>
                        <select [(ngModel)]="ngo.ngoState" name="ngoState" id="ngoState" class="form-control" formControlName="ngoState">
                          <option value="Andhra Pradesh">Andhra Pradesh</option>
                          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                          <option value="Assam">Assam</option>
                          <option value="Bihar">Bihar</option>
                          <option value="Chandigarh">Chandigarh</option>
                          <option value="Chhattisgarh">Chhattisgarh</option>
                          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                          <option value="Daman and Diu">Daman and Diu</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Lakshadweep">Lakshadweep</option>
                          <option value="Puducherry">Puducherry</option>
                          <option value="Goa">Goa</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Haryana">Haryana</option>
                          <option value="Himachal Pradesh">Himachal Pradesh</option>
                          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                          <option value="Jharkhand">Jharkhand</option>
                          <option value="Karnataka">Karnataka</option>
                          <option value="Kerala">Kerala</option>
                          <option value="Madhya Pradesh">Madhya Pradesh</option>
                          <option value="Maharashtra">Maharashtra</option>
                          <option value="Manipur">Manipur</option>
                          <option value="Meghalaya">Meghalaya</option>
                          <option value="Mizoram">Mizoram</option>
                          <option value="Nagaland">Nagaland</option>
                          <option value="Odisha">Odisha</option>
                          <option value="Punjab">Punjab</option>
                          <option value="Rajasthan">Rajasthan</option>
                          <option value="Sikkim">Sikkim</option>
                          <option value="Tamil Nadu">Tamil Nadu</option>
                          <option value="Telangana">Telangana</option>
                          <option value="Tripura">Tripura</option>
                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                          <option value="Uttarakhand">Uttarakhand</option>
                          <option value="West Bengal">West Bengal</option>
                        </select>                     

                    </div>
  
                    <div class="form-group">
                        <label>NGO District</label>
                        <input [(ngModel)]="ngo.ngoDistrict" type="text" formControlName="ngoDistrict" class="form-control" />
                    </div>
                   
                    <div class="form-group">
                      <label>NGO Type</label>
  
                      <select [(ngModel)]="ngo.ngoType" name="ngoType" id="ngoType" class="form-control" formControlName="ngoType">
                        <option value="Private Sector Companies (Sec 8/25)">Private Sector Companies (Sec 8/25)</option>
                        <option value="Registered Societies (Non - Government)">Registered Societies (Non - Government)</option>
                        <option value="Trust (Non - Government)">Trust (Non - Government)</option>
                        <option value="Other Registered Entities (Non - Government)">Other Registered Entities (Non - Government)</option>
                        <option value="Academic Institutions (Private)">Academic Institutions (Private)</option>
                        <option value="Academic Institutions (Govt)">Academic Institutions (Govt)</option>
                      </select>
  
          
                    </div>
                   
                    <div class="form-group">
                        <label>NGO Unique ID</label>
                        <input [(ngModel)]="ngo.ngoUniqueId" type="text" formControlName="ngoUniqueId" class="form-control" />

                    </div>
  
                    <div class="form-group">
                     <label>NGO Email</label>
                      <input [(ngModel)]="ngo.ngoEmail" type="text" formControlName="ngoEmail" class="form-control" />
                      <div *ngIf="submitted && f.ngoEmail.errors" class="invalid-feedback">
                          
                      </div>
                    </div>
  
  
                    <div class="form-group">
                      <label>NGO Website Link (Optional) </label>
                      <input [(ngModel)]="ngo.ngoWebsiteLink" type="text" formControlName="ngoWebsiteLink" class="form-control"  />
                         
                    </div>
  
                      <div class="form-group">
                        <label>Course Name</label>
                        <input [(ngModel)]="ngo.courseName" type="text" formControlName="courseName" class="form-control" />
                        
                      </div>
                    
                    <div class="form-group">
                      <label>Course Sector</label>
  
                      <select [(ngModel)]="ngo.courseSector" name="courseSector" id="courseSector" class="form-control" formControlName="courseSector">
                        <option value="Agriculture">Agriculture</option>
                        <option value="Tailoring">Tailoring</option>
                        <option value="Stitching">Stitching</option>
                       </select>
  
                      
                   </div>
  
                   <div class="form-group">
                    <label>Course Duration</label>
  
                    <select [(ngModel)]="ngo.courseDuration" name="courseDuration" id="courseDuration" class="form-control" formControlName="courseDuration">
                      <option value="1 month">1 month</option>
                      <option value="2 months">2 months</option>
                      <option value="3 months">3 months</option>
                     </select>
  
                  
                 </div>
                 
                 
  
                 <div class="form-group bg-gradient-info">
                  <label>Course Mode</label><br class="brmedium">
                   
                    &nbsp;<input [(ngModel)]="ngo.courseMode" type="radio" value="Online" formControlName="courseMode"> Online
                    &nbsp;<input [(ngModel)]="ngo.courseMode" type="radio" value="Offline" formControlName="courseMode"> Offline
                    <br class="brmedium">
                   
                  </div>
                  
  
                  <div class="form-group">
                    <label>Maximum People per Course</label>
                    <input [(ngModel)]="ngo.maxPeople" type="text" formControlName="maxPeople" class="form-control" />
                   
                  </div>
  
                  <div class="form-group">
                    <label>Project Incharge Name</label>
                    <input [(ngModel)]="ngo.inChargeName" type="text" formControlName="inChargeName" class="form-control"/>
                  
                  </div>
  
                  <div class="form-group">
                    <label>Project Incharge Email Id</label>
                     <input [(ngModel)]="ngo.inChargeEmailId" type="text" formControlName="inChargeEmailId" class="form-control"/>
                      
                     
                   </div>
  
                   <div class="form-group">
                    <label>Project Incharge Contact Number</label><br>
                     <input [(ngModel)]="ngo.inChargecontactno" type="text" formControlName="inChargeContactNo" class="form-control"/>
                   
                   </div>
  
                   <div class="form-group">
                    <label>Fund Expected</label>
                    <input [(ngModel)]="ngo.fundExpected" type="text" formControlName="fundExpected" class="form-control" />
                    
                  </div>
  
                  <div class="form-group">
                    <label>Upload Quotation/Bill/Estimation (Only Image, no pdf or other documents)</label><!--formControlName="image"-->
                    <input [(ngModel)]="ngo.file" type="file" name="file" formControlName="file" (change)="fileChange($event)"  ng-model="image" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" #fileInput><br>
                    <img height="500px" *ngIf="url" [src]="url">
                    <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                   </div>
                  </div>
  
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary">Update</button>
                    </div>
                </form>
                <br><br>
            </div>
        </div>
    </div>
  </div>
  